/test.json
/SQLiteSpy/
/lib/slkamr/1.amr
/lib/slkamr/1.pcm
/lib/slkamr/1.slk
/lib/slkamr/2.mp3
/lib/slkamr/4.amr
/lib/slkamr/ffmpeg-lgpl/
/lib/slkamr/ptt/
/QQdb/
/~$QQ消息格式.xlsx
/testdata.txt
/output/
/scripts/nudgeactionResDownload/nudgeaction/
/old/
